<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>持ち物編集</title>
</head>

<body>
	<h2>NEW★持ち物編集</h2>

	<form th:action="@{/item/edit/{id}}" method="post" th:object="${itemForm}">
		<input type="hidden" th:field="*{id}" />



		<div>
			<label>持ち物名:</label>
			<input type="text" th:field="*{itemName}" />
			<div th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="error-message"></div>
		</div>


		<div>
			<label>カテゴリ:</label>
			<div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="error-message"></div>
			<select th:field="*{category}">
				<option value="">---選択---</option>
				<option value="必須">必須</option>
				<option value="衣類">衣類</option>
				<option value="化粧品">化粧品</option>
				<option value="食品">食品</option>
			</select><br />
		</div>

		<lavel>
			<label>フェス名：</label>
			<div th:if="${#fields.hasErrors('festivalId')}" th:errors="*{festivalId}" class="error-message"></div>
			<select th:field="*{festivalId}">
				<option value="">---選択---</option>
				<option th:each="festival : ${festivalList}" th:value="${festival.id}" th:text="${festival.fesName}">
				</option>
			</select><br />
			</div>


			<div>
				<label>数量:</label>
				<div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="error-message"></div>
				<select th:field="*{quantity}">
					<option th:each="i : ${#numbers.sequence(1,10)}" th:value="${i}" th:text="${i}"></option>
				</select><br />
			</div>

			<button type="submit">更新</button>
	</form>



	<a th:href="@{/item/list}">戻る</a>


</body>

</html>