<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
    <h2>FESTIVAL　GO!LIST</h2>

    <form th:action="@{/login}" method="post" th:object="${user}">
        <label>Email</label>
        <input type="text" th:field="*{email}" />
        <br/>
        <label>パスワード</label>
        <input type="password" th:field="*{password}" />
        <br/>
        <button type="submit">ログイン</button>
    </form>

    <p th:if="${loginError}" th:text="${loginError}" style="color: red;"></p>

    <a th:href="@{/signup}">新規登録</a>
</body>
</html>
