<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
	
	<div class="logo-container">
		<img src="/images/logo.png" alt="ロゴ" class="logo-image">
	</div>
			
	
    <div class="canvas-wrapper">
		
		<div class="login-box">

			<p th:if="${loginError}" th:text="${loginError}" class="error"></p>

			<form th:action="@{/login}" method="post" th:object="${loginForm}">
				<div>
					<label>ID
					</label>
					<input type="email" th:field="*{email}" />
					<p th:errors="*{email}" class="error"></p>
				</div>

				<div>
					<label>パスワード</label>
					<input type="password" th:field="*{password}" />
					<p th:errors="*{password}" class="error"></p>
				</div>


				<button type="submit">ログイン</button>
			</form>

			<div class="link">
				<a th:href="@{/signup}">新規アカウント作成はこちら</a>
			</div>

		</div>

	</div>

	<script>
		// Enterキーでもログインできるように
		document.addEventListener("keydown", function (e) {
			if (e.key === "Enter") {
				document.querySelector("form").submit();
			}
		});
	</script>




</body>

</html>