<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
</head>
<body>
	<h2>新規アカウント登録</h2>
	
	<form th:action="@{/signup}" method="post" th:object="${user}">
		<label>お名前</label>
		<input type="text" th:field="*{name}" />
		<br/>
		<label>Email</label>
		<input type="email" th:field="*{email}" />
		<br/>
		<label>パスワード</label>
		<input type="password" th:field="*{password}" />
		<br/>
		<button type="submit">新規登録</button>
		
	</form>
	
	<a th:href="@{/login}">戻る</a>
	

</body>
</html>