<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録</title>
</head>

<body>
	<h2>新規アカウント登録</h2>


	<p th:if="${signupError}" th:text="${signupError}" style="color:red;"></p>

	<form th:action="@{/signup}" method="post" th:object="${signupForm}">
		<div>
			<label>お名前</label>
			<input type="text" th:field="*{name}" />
			<p th:errors="*{name}" style="color:red;"></p>
		</div>

		<div></div>
		<label>Email</label>
		<input type="email" th:field="*{email}" />
		<p th:errors="*{email}" style="color:red;"></p>
		</div>


		<div>
			<label>パスワード</label>
			<input type="password" th:field="*{password}" />
			<p th:errors="*{password}" style="color:red;"></p>
		</div>


		<button type="submit">新規登録</button>

	</form>

	<a th:href="@{/login}">ログイン画面へ戻る</a>


</body>

</html>