<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録</title>
	<link rel="stylesheet" href="/css/signup.css">
</head>

<body>
	<!-- ロゴ表示 -->
	<div class="logo-container">
		<img src="/images/logo.png" alt="FESTIVAL GO LIST" class="logo-image">
	</div>

	<!-- 登録フォーム -->
	<div class="canvas-wrapper">
		<div class="form-box">
			<h2 class="form-title">新規アカウント登録</h2>


			<p th:if="${signupError}" th:text="${signupError}" class="error"></p>

			<form th:action="@{/signup}" method="post" th:object="${signupForm}">
				<div>
					<label>お名前</label>
					<input type="text" th:field="*{name}" placeholder="山田 太郎"/>
					<p th:errors="*{name}" class="error" #></p>
				</div>

				<div>
					<label>メールアドレス</label>
					<input type="email" th:field="*{email}" placeholder="xxxxx@example.com" />
					<p th:errors="*{email}" class="error"></p>
				</div>


				<div>
					<label>パスワード</label>
					<input type="password" th:field="*{password}" placeholder="半角英数字8文字以上" />
					<p th:errors="*{password}" class="error"></p>
				</div>


				<button type="submit">新規登録</button>

			</form>
			<div class="link">
				<a th:href="@{/login}">ログイン画面へ戻る</a>
			</div>

</body>

</html>